.header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.profile-icon {
    cursor: pointer;
}

.profile-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#menuPallete {
    flex-direction: column;
    align-items: flex-end;
    display: none;
}

#profileDropdown {
    position: relative;
    background-color: #2b2b2bb0;
    display: flex;
    justify-content: center;
    width: 4in;
    height: 3in;
    right: 10px;
    align-items: center;
    flex-direction: column;
    border-radius: 55px;
    box-shadow: 0px 11px 20px 6px rgb(0 0 0 / 30%), inset 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
}

#userPfp {
    border-radius: 50px;
}

#userName {
    color: white;
    font-weight: bold;
}

#aMgn {
    height: 1cm;
    width: 2.3in;
    background-color: #575555;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 20px 10px rgb(0 0 0 / 36%);
}
#aMgn:hover {
    height: 1cm;
    width: 2.3in;
    background-color: #606060;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 20px 10px rgb(0 0 0 / 36%);
}

#aMgn a {
    color: #0388ff;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}