
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-decoration: none;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow: hidden;

}

#mainFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    margin: 0;
    padding: 0;

}

#containerMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 60vh;

}

#SearchBox {
    position: inherit;
    width: 300px;
    height: 50px;
    padding: 0 0 0 20px;
    border: none;
    border-radius: 25px 0 0 25px;
    background-color: #676767bd;
    box-shadow: inset 0px 0px 7px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#SearchBox:focus-visible {
    position: inherit;
    width: 300px;
    height: 50px;
    padding: 0 0 0 20px;
    border: none;
    border-radius: 25px 0 0 25px;
    background-color: #606060b3;
    outline: none;
}

#btnSearch {
    border: none;
    border-radius: 0 25px 25px 0;
    width: 50px;
    height: 50px;
    background-color: #676767bd;
    position: relative;
    box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#SearchBox:hover {
    position: inherit;
    width: 300px;
    height: 50px;
    padding: 0 0 0 20px;
    border: none;
    border-radius: 25px 0 0 25px;
    background-color: #606060b3;
}
#SearchBox::placeholder{
    color: white;
}

#btnSearch:hover {
    border: none;
    border-radius: 0 25px 25px 0;
    width: 50px;
    height: 50px;
    background-color: #606060b3;
    position: relative;
}

#icon-Search {
    width: 25px;
    height: 25px;

}

#schForm {
    display: flex;
    align-items: center;
}
