body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-decoration: none;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow: hidden;

}

#mainFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
    width: 100vw;
    margin: 0;
    padding: 0;

}

#containerMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    height: 60vh;

}

#SearchBox {
    position: inherit;
    color: white;
    width: 500px;
    height: 50px;
    padding: 0 0 0 20px;
    border: none;
    border-radius: 25px 0 0 25px;
    backdrop-filter: blur(5px);
    background-color: #676767bd;
    box-shadow: inset 0px 0px 7px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#SearchBox:focus-visible {
    background-color: #606060b3;
    outline: none;
}

#btnSearch {
    border: none;
    border-radius: 0 25px 25px 0;
    width: 50px;
    height: 50px;
    backdrop-filter: blur(5px);

    background-color: #676767bd;
    position: relative;
    box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#SearchBox:hover {
    background-color: #606060b3;
}

#SearchBox::placeholder {
    color: white;
}

#btnSearch:hover {
    border: none;
    border-radius: 0 25px 25px 0;
    width: 50px;
    height: 50px;
    background-color: #606060b3;
    position: relative;
}

#icon-Search {
    width: 25px;
    height: 25px;

}

#schForm {
    display: flex;
    margin: 10px;
    align-items: center;
}

.time-weather {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 50px;
    height: 234px;
    width: 200px;
    flex-direction: column;

}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 200px;
    width: 200px;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow:0px 0px 10px 1px rgba(0, 0, 0, 0.50);
}

.centre {
    display: flex;
    z-index: 6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.hand {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    width: 4px;
    height: var(--height);
    bottom: 50%;
    transform-origin: 50% 100%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.50);
    transition: transform 0.5s ease-in-out;
}
.digiTime{
    top: -63px;
    z-index: 2;
    color: white;
    text-shadow: 0px 0px 4px #000000;
    position: relative;
}
.clockNum {
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 2;
}
.clockBg {
    position: relative;
    z-index: 1;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    backdrop-filter: blur(15px);
}
.clockNum span {
    font-size: 30px;
  font-weight: 400;
  position: absolute;
  text-align: center;
  transform: rotate(calc(90deg * var(--i)));
  inset: -15px;
  color: white;
  text-shadow: 0px 0px 4px #000000;

}
