

#navBar {
    position: static;
    height: 20px;
    width: 100vw;
}

#linkslist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    right: 10px;
}
.appsIcon{
    fill: #3a3838;
    
}
.appsIcon:hover{
    fill: #0000005b;
}
#profileIcon{
    border-radius: 25px;
}
#profileIcon:hover{
    border-radius: 25px;
    cursor: pointer;
}
#profileIcon:focus-visible{
    border-radius: 25px;
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.2);
    outline: none;
}
a{
    text-decoration: none;
}
.link{
    text-decoration: none;
    color: #2e2e2e;
}
.link:hover {
    text-decoration: none;
    color: #0000008c;
}
li {
    margin: 0 15px 0 15px;
}
ul {
    list-style-type: none;
}
#icon-btn{
    display: flex;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}